In [31]:
import pandas as pd
import numpy as np
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [32]:
df.drop(labels = 'species', axis = 1, inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [37]:
df['sepal_sum'] = df['sepal_length'] + df['sepal_width']
df.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [46]:
df['petal_sum'] = df['petal_length'] + df['petal_width']
df.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [73]:
mean = [np.mean(df['sepal_length']),
        np.mean(df['sepal_width']),
        np.mean(df['sepal_sum']),
        np.mean(df['petal_length']),
        np.mean(df['petal_width']),
        np.mean(df['petal_sum'])]

std = [np.std(df['sepal_length']),
        np.std(df['sepal_width']),
        np.std(df['sepal_sum']),
        np.std(df['petal_length']),
        np.std(df['petal_width']),
        np.std(df['petal_sum'])]

min = [np.min(df['sepal_length']),
        np.min(df['sepal_width']),
        np.min(df['sepal_sum']),
        np.min(df['petal_length']),
        np.min(df['petal_width']),
        np.min(df['petal_sum'])]

max = [np.max(df['sepal_length']),
        np.max(df['sepal_width']),
        np.max(df['sepal_sum']),
        np.max(df['petal_length']),
        np.max(df['petal_width']),
        np.max(df['petal_sum'])]

summary_dict = {'mean' :mean,'std':std,'min':min,'max':max}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

summary_df.rename(index={0:'sepal_length',
                 1:'sepal_width',
                 2:'petal_length',
                 3:'petal_width',
                 4:'sepal_sum',
                 5:'petal_sum'})

                  mean       std  min   max
sepal_length  5.843333  0.825301  4.3   7.9
sepal_width   3.057333  0.434411  2.0   4.4
petal_length  8.900667  0.886303  6.8  11.7
petal_width   3.758000  1.759404  1.0   6.9
sepal_sum     1.199333  0.759693  0.1   2.5
petal_sum     4.957333  2.499316  1.2   9.2